.header-middle.bg-white {
  padding: 15px 0;
}
h2.text-white.text-uppercase.sep-line-one span {
  text-shadow: none;
}
h2.text-white.text-uppercase.sep-line-one {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
.header-botton .header-nav .nav > li > a:visited {
  color: white !important;
}
.site-button-secondry:active,
.site-button-secondry:hover,
.site-button-secondry:focus,
.active > .site-button-secondry {
  color: white !important;
}
.footer-light .social-icons li a:hover {
  color: white !important;
}
.site-button:hover {
  color: white !important;
}
a:active,
a:hover,
a:focus {
  color: #7e2726 !important;
}
.cssload-loader::before,
.cssload-loader::after {
  background: #848688 !important;
}
.cssload-loader {
  color: #7e2726 !important;
}

.input-animate.input .spin {
  background-color: #7e2726 !important;
}
.footer-light .social-icons li a:hover {
  background-color: #7e2726 !important;
}
.site-footer .widget_services ul li a:hover {
  color: #7e2726 !important;
}
.filter-navigation a:after {
  color: #7e2726 !important;
}
.masonry-filter > li.active a,
.masonry-filter > li a:hover,
.masonry-filter > li a:active,
.masonry-filter > li a:focus {
  color: #7e2726 !important;
}
.get-in-touch-info {
  box-shadow: -10px -10px #7e2726 !important;
}

.video-section-full-v2:after {
  background-color: #7e2726 !important;
}
.about-home.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #7e2726 !important;
}
.bg-primary {
  background-color: #7e2726 !important;
}

.mt-separator:before,
.sep-line-one:before,
.mt-separator:after,
.sep-line-one:after {
  background: #7e2726 !important;
}
.icon-count-2:hover span.icon-count-number {
  color: #7e2726 !important;
}

.site-button-secondry.btn-effect:before,
.site-button-secondry.btn-effect:after {
  border-color: #848688 !important;
}
.icon-count-2:after {
  background: #7e2726 !important;
}
.site-button.btn-effect:before,
.site-button.btn-effect:after {
  border-color: #7e2726 !important;
}
.site-button {
  background: #7e2726 !important;
}

.site-button-secondry {
  background: #848688 !important;
}
.text-primary {
  color: #7e2726 !important;
}

.header-botton {
  background: #7e2726 !important;
}
.header-nav .nav > li.active > a {
  color: white !important;
}
.header-nav .nav > li > a:hover {
  color: white !important;
}
.header-nav .nav > li:hover {
  background: #848688 !important;
}

/* Estilos propios */
.logo-header {
  width: 300px !important;
}
